@mixin flex-layout($direction, $justify-content, $align-items) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-layout-column-center-center {
  @include flex-layout(column, center, center);
}
